/* Your existing styles */

.add-dress {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-dress form {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select,
input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:focus {
    outline: none;
}
/* Your existing header styles */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}


.uploaded-image {
    text-align: center;
  }
  
  .uploaded-image img {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }

  /* Add this CSS to your outfit.component.css file or your global styles */
.success-message {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px; /* Padding around the message */
    margin-top: 10px; /* Spacing from the form */
    text-align: center; /* Center-align the text */
    display: none; /* Initially hide the message */
  }
  
  .success-message.show {
    display: block; /* Display the message when the "show" class is added */
  }
  